@import "../global";

button {
  // border-radius: 5px;
  padding: 0.7rem 1.5rem;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  text-transform: capitalize;
  justify-content: center;
  cursor: pointer;
  .btn-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
  }
  &.btn-primary {
    background-color: $clr-primary-500;
    color: $clr-primary-900;
    border: none;

    img {
      transform: rotate(45deg);
      transition: transform 0.3s ease;
    }

    &:hover {
      background-color: lighten($clr-primary-500, 3%);
      
      img {
        transform: rotate(0);
      }
    }
  }

  &.btn-secondary {
    background-color: transparent;
    color: $clr-primary-500;
    border: 2px solid $clr-primary-500;
    flex-direction: row-reverse;
    transition: all 0.2s ease-in-out;

    &:hover.studies-btn,
    &:focus.studies-btn {
      color: $clr-primary-500 !important;
      background-color: $clr-neutral-100;
      img {
        content: url("../../assets/btn-arrow-red.svg");
      }
    }

    &.nav-btn:hover,
    &.nav-btn:focus {
      background-color: $clr-primary-500;
      color: $clr-neutral-100;
      img {
        content: url("../../assets/call-icon-white.svg");
      }
    }

    &.proof-btn:hover,
    &.proof-btn:focus {
      background-color: $clr-primary-500;
      color: $clr-neutral-100;
      img {
        content: url("../../assets/btn-arrow-white.svg");
      }
    }
  }
}
