@import "../global";

.hero-section {
  height: 110vh;
  background-image: url("../../assets/hero-bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    padding-top: 10rem;
    text-align: center;
    color: $clr-neutral-100;

    p {
      width: clamp(320px, 80vw, 800px);
      margin-inline: auto;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    p,
    h1 {
      margin-bottom: $size-500;
    }

    .hero-btn-wrapper {
      width: clamp(16rem, 65%, 20rem);
      display: flex;
      flex-direction: column;
      gap: $size-500;
      margin: $size-700 auto;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    .scroll-mouse {
      border: none;
      width: 50px;
      height: 50px;
      margin-top: $size-200;
    }
  }

  @media (min-width: 480px) {
    & {
      background-image: url("../../assets/hero-bg.png");
    }
  }

  @media (min-width: 800px) {
    .wrapper .hero-btn-wrapper {
      flex-direction: row;
      width: fit-content;
    }
  }

  @media (min-width: 1300px) {
    .wrapper .scroll-mouse {
      margin-top: $size-500;
    }
  }
  @media (min-width: 1117px) {
    .wrapper {
      padding-top: 12rem;
    }
  }
  @media (max-width: 350px) {
    .wrapper p {
      width: 280px;
      font-size: $fs-200;
    }
    .fs-primary-header {
      font-size: $fs-500;
    }
  }
}

.services-section {
  background-color: $clr-neutral-800;
  color: $clr-neutral-100;

  .service-wrapper {
    padding-block: 6rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    h2,
    p.services-text,
    ul.services-list {
      margin-bottom: $size-600;
    }

    .btn-primary {
      margin-top: $size-600;
    }

    p {
      font-size: $fs-300;
    }

    .services-list {
      display: flex;
      flex-direction: column;

      li {
        list-style: none;
        display: flex;
        gap: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.6rem;
        font-weight: $fw-bold;

        p {
          line-height: 130%;
        }

        .service-ico svg {
          width: 50px;
        }
      }
    }

    .phone-mockup {
      margin-inline: auto;
      height: 530px;
      position: relative;
      right: 60px;
    }
  }

  @media (min-width: 630px) {
    .service-wrapper .services-list {
      flex-direction: row;
      gap: $size-600;
    }

    .service-wrapper .phone-mockup {
      height: 620px;
    }
  }

  @media (min-width: 1010px) {
    .service-wrapper {
      flex-direction: row-reverse;
      gap: 5rem;
    }
  }
  @media (min-width: 630px) and (max-width: 1010px) {
    .service-wrapper {
      h2,
      p.services-text {
        text-align: center;
        // margin-bottom: $size-600;
      }
      ul.services-list {
        justify-content: center;
        gap: 5rem;
        margin-block: $size-700;
      }
      .btn-primary {
        margin-inline: auto;
      }
    }
  }

  @media (min-width: 1105px) {
    .service-wrapper p {
      font-size: $fs-400;
    }
  }
}

