@import "../global";

.hero-section {
  min-height: 110vh;
  background-image: url("../../assets/hero-bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .wrapper {
    position: relative;
    padding-top: 10rem;
    color: $clr-neutral-900;
    min-height: 110vh;

    .hero-text {
      width: 50%;
      position: absolute;
      left: 48%;
      padding: 2rem;
      border-radius: 15px;
      background-color: #ffffff5f;
      backdrop-filter: blur(5px);
      p,
      h1 {
        margin-bottom: $size-500;
      }
    }

    .scroll-mouse {
      border: none;
      width: 70px;
      height: 70px;
      position: absolute;
      left: 50%;
      bottom: 8%;
      transform: translateX(-50%);

      margin-top: $size-200;
    }
  }

  @media (min-width: 1060px) {
    & {
      background-image: url("../../assets/hero-bg.webp");
    }
  }
  @media (max-width: 1060px) {
    & {
      .wrapper .hero-text {
        background-color: #ffffffdb;
        width: 95%;
        max-width: 650px;
        position: unset;
        margin: 5rem auto;
      }

      background-image: url("../../assets/hero-bg-tablet.webp");
    }
  }

  @media (max-width: 500px) {
    & {
      .wrapper .hero-text {
        margin: 0 auto;

        p,
        h1 {
          margin-bottom: $size-400;
        }
      }

      background-image: url("../../assets/hero-bg-mobile.webp");
    }
  }

  @media (min-width: 1300px) {
    .wrapper .scroll-mouse {
      margin-top: $size-500;
    }
  }
  @media (max-width: 1117px) {
    .wrapper {
      p {
        font-size: $fs-400;
      }
    }
  }
  @media (max-width: 1080px) {
    .wrapper {
      p {
        font-size: $fs-300;
      }
    }
  }

  @media (max-width: 375px) {
    .wrapper p {
      font-size: $fs-200;
    }
    .fs-primary-header {
      font-size: 1.8rem;
    }
  }
}

.services-section {
  background-color: $clr-primary-50;
  color: $clr-neutral-900;

  .service-wrapper {
    padding-block: 6rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;

    .services-description {
      h2,
      p.services-text,
      ul.services-list {
        margin-bottom: $size-500;
      }

      .btn-primary {
        margin-top: $size-600;
      }

      p {
        font-size: $fs-300;
      }

      .services-list {
        display: flex;
        flex-direction: column;

        li {
          list-style: none;
          display: flex;
          gap: 1rem;
          display: flex;
          align-items: center;
          margin-bottom: 0.6rem;
          font-weight: $fw-bold;

          p {
            line-height: 130%;
          }

          .service-ico svg {
            width: 50px;
          }
        }
      }
    }

    .phone-mockup {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      margin-inline: auto;
    }
  }

  @media (min-width: 630px) {
    .service-wrapper .services-description .services-list {
      flex-direction: row;
      gap: $size-600;
    }

    .service-wrapper .phone-mockup {
      width: 440px;
    }
  }

  @media (min-width: 1010px) {
    .service-wrapper {
      flex-direction: row-reverse;
      gap: 5rem;

      .services-description {
        width: 50vw;
      }
    }
  }
  @media (min-width: 630px) and (max-width: 1010px) {
    .service-wrapper {
      h2,
      p.services-text {
        text-align: center;
      }
      ul.services-list {
        justify-content: center;
        gap: 5rem;
        margin-block: $size-700;
      }
      .btn-primary {
        margin-inline: auto;
      }
    }
  }

  @media (min-width: 1105px) {
    .service-wrapper p {
      font-size: $fs-400;
    }
  }
}

.studies-section {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 12rem;
    background-color: $clr-primary-100;
  }

  .studies-wrapper {
    position: relative;
    border-radius: 30px;
    background: linear-gradient(
      90deg,
      #ff4342 -0.03%,
      #ff6261 48.28%,
      #ff4342 99.97%
    );
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    margin-inline: auto;
    text-align: center;
    color: $clr-neutral-100;
    max-width: 900px;
    width: clamp(270px, 90vw, 900px);
    padding: $size-700 $size-500 $size-200;
    z-index: 10;

    h2 {
      text-transform: uppercase;
      font-size: clamp(2.2rem, 5vw, 3rem);
    }

    p {
      margin-block: $size-500;
      font-size: $fs-400;
    }

    .btn-secondary {
      margin: $size-700 auto $size-200;
    }

    .down-arrow {
      border: none;
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: 450px) {
    .studies-wrapper {
      padding: 1.8rem 1rem 0.2rem;
    }
    .studies-wrapper p {
      font-size: $fs-300;
      margin-block: $size-400;
    }

    .studies-wrapper h2 {
      line-height: 114%;
    }

    .studies-wrapper .btn-secondary {
      margin: $size-600 auto $size-100;
    }
  }
}

.process-section {
  background-color: $clr-primary-100;
  .steps-wrapper {
    padding-block: 7rem 4rem;

    h2,
    p.process-description {
      text-align: center;
      color: $clr-neutral-900;
      margin-bottom: $size-500;
    }

    .btn-primary {
      margin: $size-700 auto;
      width: 300px;
      height: 60px;
      font-size: $fs-300;
      color: #fff;
    }

    .process-container {
      padding-block: 1rem;
      display: flex;
      flex-direction: column;
      gap: $size-900;
      font-size: $fs-300;

      .step {
        display: flex;
        flex-direction: column;
        gap: $size-700;

        .step-text {
          position: relative;
          max-width: 600px;
          margin-inline: auto;

          p:first-child {
            color: $clr-primary-200;
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: $size-400;

            .dash {
              display: block;
              width: 50px;
              height: 2px;
              background: $clr-primary-200;
            }
          }

          .number {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 8rem;
            line-height: 75%;
            font-weight: $fw-bold;
            color: transparent;
            -webkit-text-stroke-color: $clr-primary-200;
            -webkit-text-stroke-width: 1px;
            opacity: 0.5;
          }
        }

        img {
          width: clamp(250px, 85vw, 580px);
          margin-inline: auto;
        }
      }
    }
  }

  @media (min-width: 900px) {
    .steps-wrapper .process-container .step {
      flex-direction: row;
      align-items: center;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      img {
        width: clamp(250px, 50vw, 800px);
      }
    }

    .steps-wrapper .process-container {
      padding-top: 3rem;
      gap: $size-400;
      font-size: $fs-400;
    }
  }
}

.proof-section {
  .proof-wrapper {
    padding-block: 8rem 5rem;
    text-align: center;
    h2,
    p {
      margin-bottom: $size-500;
      color: $clr-neutral-900;
    }

    .graphs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $size-600;
      margin: $size-800 auto;
    }

    .proof-btn-wrapper {
      display: flex;
      gap: $size-500;
      margin: 7rem auto 3rem;
      justify-content: center;

      .proof-btn {
        padding: 0.9rem 1.5rem;
      }
    }
  }

  @media (min-width: 1120px) {
    .proof-wrapper .graphs {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      .graph {
        max-width: 36vw;
      }
    }
  }
  @media (max-width: 700px) {
    .proof-wrapper .proof-btn-wrapper {
      flex-direction: column;
      align-items: center;
      
      .proof-btn {
        width: 300px;
        padding-inline: .3rem;
      }
    }
  }
}

.stats-section {
  padding-block: $size-600 $size-900;

  .stats-wrapper {
    display: flex;
    gap: $size-600;
  }
  @media (max-width: 955px) {
    .stats-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

.faq-section {
  .faq-wrapper {
    padding-block: 4rem 6rem;
    h2 {
      text-align: center;
      margin-bottom: $size-900;
      color: $clr-neutral-900;
    }

    .questions li {
      margin-bottom: $size-400;
    }
  }
}
