---
import '../styles/pages/index.scss';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="GoDispatch: Your Route to Profitable Trucking Ventures">
	<main>
		<h1 class="fs-primary-header fw-bold">We have <span class="highlight" style="color: #240000">Premium Dispatch</span> services</h1>
	</main>
</Layout>