---
import "../styles/components/buttons.scss";

const { text, icon, buttonStyle, class: className } = Astro.props;
interface Props {
  text: string;
  icon: string;
  buttonStyle?: string;
  class: string;
}
---

<button class={className} style={buttonStyle}>{text}<div class="btn-icon"><img src={icon} alt="Button icon"/></div></button>
