---
import "../styles/components/card.scss";

interface Props {
  icon: string;
  title: string;
  number: string;
  bodyText: string;
}

const { icon, title, number, bodyText } = Astro.props;
---

<div class="card">
  <div class="card-header">
    <img src={icon} alt="" />
    <p class="card-title">{title}</p>
  </div>
  <p class="card-number">{number}</p>
  <p class="card-body">{bodyText}</p>
</div>
