---
import logo from "../assets/GoDispatch-logo.svg";
import FbIcon from "../assets/facebook-icon.svg";
import InstaIcon from "../assets/instagram-icon.svg";
import YtIcon from "../assets/youtube-icon.svg";
import "../styles/components/footer.scss";
---

<footer>
  <div class="container">
    <img src={logo} class="footer-logo" />
    <div class="address">
      <div class="links-column">
        <h4 class="fw-bold">Contact</h4>
        <p>
          8465 W Sahara Avenue Suite 111-935 Las Vegas, NV 89117 United States
          <br />
          702-426-0025
        </p>
      </div>
      <div class="links-column">
        <h4 class="fw-bold">Quick Links</h4>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="#">Blog</a>
        <a href="/pricing">Services And Pricing</a>
        <a href="/casestudies">Case Studies</a>
      </div>
      <div class="links-column socials-column">
        <h4 class="fw-bold">Social Media</h4>
        <p>
          Follow us on social media to find out the latest updates on our
          progress.
        </p>
        <div class="socials">
          <a href="https://www.facebook.com" class="social-icon">
            <img src={FbIcon} alt="Facebook" />
          </a>

          <a href="https://www.youtube.com" class="social-icon">
            <img src={YtIcon} alt="Youtube" />
          </a>

          <a href="https://www.instagram.com" class="social-icon">
            <img src={InstaIcon} alt="Instagram" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
