---
import arrowIconWhite from "../assets/btn-arrow-white.svg";
import callIcon from "../assets/call-icon.svg";
import logo from "../assets/GoDispatch-logo.svg";
import "../styles/components/header.scss";
import Button from "../components/Button.astro";
---

<header>
  <div class="container header-wrapper">
    <nav class="navbar">
      <ul class="nav-links">
        <li class="nav-link" style="--i: 0"><a href="/">Home</a></li>
        <li class="nav-link" style="--i: 2"><a href="/contact">Contact</a></li>
        <li class="nav-link" style="--i: 1"><a href="/about">About</a></li>
        <ll class="nav-link" style="--i: 3"><a href="/pricing">Pricing</a></ll>
      </ul>
    </nav>
    <button class="nav-toggler">
      <span></span>
    </button>
    <a href="/"><img src={logo} alt="godispatch logo" class="logo" /></a>
    <div class="nav-buttons">
      <a href="/contact">
        <Button
          text="Start Free Trial"
          icon={arrowIconWhite}
          class="btn-primary fw-bold fs-small nav-btn"
          buttonStyle="color: white;"
        />
      </a>

      <a href="tel:7754046373">
        <Button
          text="775-404-6373"
          icon={callIcon}
          class="btn-secondary fw-bold fs-small nav-btn"
        />
      </a>
    </div>
  </div>
</header>

<script src="../scripts/main.js"></script>
